.banner {
  width: 100%;
  height: 500px;
  color: whitesmoke;
  background-color: #1e1e1e;
}
.banner h1 {
  position: absolute;
  top: 45%;
  right: 44%;
  font-size: 64px;
  z-index: 1;
}
.banner img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

@media all and (max-width: 600px) {
  #stickers-nav {
    display: none;
  }
  html,
  body {
    height: 800px;
  }
  .banner h1 {
    right: 30%;
  }
  body {
    height: 800px;
  }
  main {
    height: 400px;
  }
  .shop-item {
    height: 80%;
  }
}
